In [1]:
#Варіант 4
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Завдання 1: Загрузити датасет   Kaggle : Global YouTube Statistics 2023 за посиланням
data = pd.read_csv('D:/Учеба/Машинне Навчання/Lab3/BestsellersWithCategories.csv',  encoding = "ISO-8859-1")

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [11]:
#Завдання 2: виведіть перші 10 рядків (метод head)
data.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,11,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,30,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,15,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,3,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,8,2016,Fiction

In [12]:
#Завдання 3: виведіть розміри датасету (метод shape)
data.shape

(550, 7)

In [20]:
#Завдання 4: змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
data = data.rename(columns = {'Name':'name', 'Author':'author', 'User Rating':'user_rating', 'Reviews':'reviews', 'Price':'price', 'Year':'year', 'Genre':'genre'})

In [21]:
#Завдання 5: вивести кількість пропусків у кожному стовпчику.
print("Частка пропусків у назвах: ", sum(data['name'].isnull()))
print("Частка пропусків у авторах: ", sum(data['author'].isnull()))
print("Частка пропусків у рейтингу: ", sum(data['user_rating'].isnull()))
print("Частка пропусків у оглядах: ", sum(data['reviews'].isnull()))
print("Частка пропусків у цінах: ", sum(data['price'].isnull()))
print("Частка пропусків у роках: ", sum(data['year'].isnull()))
print("Частка пропусків у жанрах: ", sum(data['genre'].isnull()))
#Пропуски відсутні

Частка пропусків у назвах:  0
Частка пропусків у авторах:  0
Частка пропусків у рейтингу:  0
Частка пропусків у оглядах:  0
Частка пропусків у цінах:  0
Частка пропусків у роках:  0
Частка пропусків у жанрах:  0

In [24]:
#Завдання 6: за допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre
data['genre'].unique()

array(['Non Fiction', 'Fiction'], dtype=object)

In [26]:
#Завдання 7: визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
print("Максмальная ціна: ", data['price'].max())
print("Мінімальна ціна: ", data['price'].min())
print("Середня ціна: ", data['price'].mean())
print("Медіанна ціна: ", data['price'].median())

Максмальная ціна:  105
Мінімальна ціна:  0
Середня ціна:  13.1
Медіанна ціна:  11.0

In [61]:
#Завдання 8: виконайте наступні завдання з пошуку і сортування даних:
#1: Який рейтинг у датасеті найвищий? 
#2: Скільки книг мають такий рейтинг? 
#3: Яка книга має найбільше відгуків? 
#4: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
#6: Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році
#7: Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 
max_rating = data['user_rating'].max()
print("Найвищий рейтинг у датасеті: ", max_rating)
print("Книги з найвищим рейтингом: ", data['user_rating'].value_counts()[max_rating])
print("Книги з найбільшою кількістю відгуків: ", data.loc[data['reviews'].idxmax(), ['name']])

prices_2010 = data.loc[data['year'] == 2010, 'price']
max_2010_price = prices_2010.max()

print("Найдорожча книга з топ-50 2010 року: ", data.loc[(data['year'] == 2010) & (data['price'] == max_2010_price), 'name'])

years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
b_12 = data[~data['year'].isin(years)]
b_12_s = b_12.sort_values(by= 'user_rating', ascending=False)
b_12_t_50 = b_12_s.head(50)
q6 = b_12_t_50['genre'].value_counts()['Fiction']

print("Кількість книг жанру Fiction у топ-50 2012 року: ", q6)

years1 = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
b_10 = data[~data['year'].isin(years)]
b_10_s = b_10.sort_values(by= 'user_rating', ascending=False)
b_10_t_50 = b_10_s.head(50)
q7_1 = b_10_t_50['user_rating'].value_counts()[4.9]

years1 = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
b_11 = data[~data['year'].isin(years)]
b_11_s = b_11.sort_values(by= 'user_rating', ascending=False)
b_11_t_50 = b_11_s.head(50)
q7_2 = b_11_t_50['user_rating'].value_counts()[4.9]

print("Кількість книг з рейтингом 4.9 у топ-50 2010 та 2011 років: ", q7_1 + q7_2)

Найвищий рейтинг у датасеті:  4.9
Книги з найвищим рейтингом:  52
Книги з найбільшою кількістю відгуків:  name    Where the Crawdads Sing
Name: 534, dtype: object
Найдорожча книга з топ-50 2010 року:  272    Publication Manual of the American Psychologic...
Name: name, dtype: object
Кількість книг жанру Fiction у топ-50 2012 року:  21
Кількість книг з рейтингом 4.9 у топ-50 2010 та 2011 років:  6

In [63]:
#Завдання 9: вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg) 
#для підрахунку мінімальних та максимальних значень використовуйте max та min).
#Використовуйте тількі потрібні вам стовпці.
q9 = data[['genre', 'price']].copy()
q9.groupby('genre')['price'].agg('max', 'min')

genre
Fiction         82
Non Fiction    105
Name: price, dtype: int64

In [ ]:
#Коментар: groupby дозволяє згрупувати табличні дані відповідно до вказаної категорії задля подальших операцій, а agg дозволяє примінити декілька функцій одна за одноюю до згрупованих даних, прибираючии необхідність вводити їх у якості коду вручну.